<div class="headerSection">
    <div class="flex-container">
        <div routerLink="" class="pointer-cursor">
            <img width="180px" height="80px" src="../../assets/images/Banner.png" />
        </div>
        <div>
            <a routerLink="home" routerLinkActive="active">Home</a>
        </div>
        <div>
            <a routerLink="about" routerLinkActive="active">About</a>
        </div>
        <div>
            <a routerLink="articles" routerLinkActive="active">Articles</a>
        </div>
        <div style="flex: 1;">
            <input type="text" class="searchBox" placeholder="Search.."/>
        </div>
    </div>
</div>
<router-outlet></router-outlet>