<mdb-carousel [controls]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="../../assets/images/carousel_1.JPG"
        class="d-block w-100 h-50"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Kadra Dam</h5>
        <p>Popular tourist destination in the Uttara Kannada district of Karnataka</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../assets/images/carousel_2.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Mirjan Fort</h5>
        <p>A royal reminder of our glorious history located in Karnataka</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>