/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

$black-color : #000;
a {
    cursor: pointer;
    text-decoration: none;
    color: $black-color;

    &:hover {
        color: rgb(72, 69, 69);
        transition: 0.2s;
    }
}
