/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$black-color : #000;
a {
    cursor: pointer;
    text-decoration: none;
    color: $black-color;

    &:hover {
        color: rgb(72, 69, 69);
        font-size: 21px;
        transition: 0.5s;
    }
}