/* You can add global styles to this file, and also import other style files */
$black-color : #000;
body {
    margin: 0px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $black-color;

    &:hover {
        color: rgb(72, 69, 69);
    }
}